<!DOCTYPE html>
<!--
** Copyright 2013 Google Inc.
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
**    http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<html>
  <head>
    <title>Peruse-a-Rue - Touchscreen</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/touchscreen.css" />
    <script data-main="js/main" src="/js/lib/require/require.min.js"></script>
  </head>
  <body>

    <noscript>
      <div><p>ERROR: JavaScript not activated</p><div>
    </noscript>

    <div id="map_canvas"></div>
    <div id="left-ui"></div>

    <script id="poi-template" type="text/template">
    <div id="poi-box">
      <h2>Points of Interest</h2>
      <div>
      <ul id="poi-categories">
      {{~it :category}}
        <li class="poi-tab-inactive" category="{{=category.title}}">{{=category.title}}</li>
      {{~}}
      </ul>
      {{~it :category}}
        <ul class="poi-list-inactive" category="{{=category.title}}">
        {{~category.objects :poi}}
          <li class="poi-item"
              panoid="{{=poi.identifier}}"
              {{? poi.heading != null }}heading="{{=poi.heading}}"{{?}}
          >{{=poi.title}}</li>
        {{~}}
        </ul>
      {{~}}
      </div>
    </div>
    </script>

    <script id="activities-template" type="text/template">
    <div id="activities-box">
      <h2>Other Activities</h2>
      <ul id="activities-list">
      {{~it :activity}}
        <li class="activities-item" app="{{=activity.app}}">{{=activity.title}}</li>
      {{~}}
      </ul>
    </div>
    </script>
	
	<script id="providers-template" type="text/template">
    <div id="providers-box">
      <h2>Providers</h2>
      <ul id="providers-list">
      {{~it :provider}}
        <li class="providers-item" app="{{=provider.app}}">{{=provider.title}}</li>
      {{~}}
      </ul>
    </div>
    </script>

  </body>
</html>
